<Router AppAssembly="@typeof(App).Assembly"><!--このアプリ内のすべての Razor コンポーネントをルーティング対象として探す-->
    <Found Context="routeData"><!--urlに対応するページが見つかる場合-->
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" /><!--pageLayoutに指定がなければ、MainLayoutを使用-->
        <FocusOnNavigate RouteData="@routeData" Selector="h1" />
    </Found>
    <NotFound>
        <PageTitle>Not found</PageTitle>
        <LayoutView Layout="@typeof(MainLayout)">
            <p role="alert">Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>
